img{
    height: 100px;
    width: auto;
}

body{
    
    background-color: blanchedalmond;
    width: 50%;

}
.container{
    border: 5px solid black;
    height: 60rem;
    display: flex;
    width: 43rem;
    background-color: azure;
    margin-left: 30rem;
   
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    


}

.mega{

    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 2rem;
    margin-right: 4rem;

    

    
}

.vega{
 display: flex;
 margin-left: 3rem;
 margin-top: -0.5rem;



}

